@import "tailwindcss";

:root {
  font-family: "Trebuchet MS", "Segoe UI", "Tahoma", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #1f1a17;
  background-color: #f4f1e9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: #1f1a17;
  background-color: #d8d8d8;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=2400&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

#root {
  height: 100%;
}
